<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-02-23T09:26:45Z</date>
	<key>WorkspacePath</key>
	<string>/Users/karisli/karis-space/code/iOS/源码/objc4-818.2/objc.xcodeproj</string>
</dict>
</plist>
